body{

	
	
	 background-image: url("https://thumbs.dreamstime.com/z/education-background-26735836.jpg");
}

#page-Header{
	padding-bottom: 15px;
    margin: 51px 367px 0px;
    border-bottom: 1px solid #eee;
}
.h1Header{

	float: block;
	width: 150%;
    margin:auto;
    margin-left: -100px;
    
	text-align: center;
    display: block;

}
.h2Header{

	float: block;
	width: 110%;
    margin:auto;
    margin-left: -100px;
    
	text-align: center;
    display: block;
}

h1{
	
	float: block;
	width: 110%;
    margin:auto;
    margin-left: -100px;
    
	text-align: center;
    display: block;

}




height: 400px;
margin-bottom:4px;